:root {
    --bg-main: #f5f7fb;
    --bg-card: #ffffff;

    --primary: #5b7cfa;
    --primary-dark: #4969d9;

    --secondary: #8175d8;

    --text-main: #20283a;
    --text-secondary: #6b7587;
    --text-light: #9aa3b2;

    --border: #e5e9f0;

    --sidebar: #151c2c;
    --sidebar-hover: #202a3d;

    --success: #58a77a;

    --shadow:
        0 8px 28px rgba(30, 41, 59, 0.06);

    --radius: 18px;
}
